name: Generate Podcast Feeds

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Repo
        uses: actions/checkout@v3

      - name: Generate Podcast
        uses: williamponce210-cpu/podcast-generator@main
